@font-face {
  font-family: "OpenSansRegular";
  src: url("../fonts/OpenSansRegular.eot");
  src: local('☺'),
  url("../fonts/OpenSansRegular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/OpenSansRegular.woff") format("woff"),
  url("../fonts/OpenSansRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
font-family: "OpenSansBold";
  src: url("../fonts/OpenSansBold.eot");
  src: local('☺'),
  url("../fonts/OpenSansBold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/OpenSansBold.woff") format("woff"),
  url("../fonts/OpenSansBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
font-family: "HelveticaRegular";
  src: url("../fonts/HelveticaRegular.eot");
  src: local('☺'),
  url("../fonts/HelveticaRegular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/HelveticaRegular.woff") format("woff"),
  url("../fonts/HelveticaRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

label {
  font-size: 17px;
  color: #878787;
  user-select: none;
}

ul {
    list-style-type: none;
    display: inline;
}

.img-product {
}

.wrapper-product {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #CCCCCC;
  box-shadow: 0 0 8px #CCCCCC;
  width: 650px;
  height: 500px;
  background-color: #FBFBFB;
  font-family: OpenSansBold;
  font-size: 15px;
  border-radius: 5px;
  background: url("../images/bg.png");
  background-size: 5px 5px;
  background-position: left top;
  background-repeat: repeat;
}

.save-btn,  .cancel-btn{
  display: inline-block;
  cursor: pointer;
  width: 100px;
  height: 25px;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  background: linear-gradient(to top, #F3F3F3, #F9F9F9);
  text-align: center;
  padding-top: 5px;
  user-select: none;
  margin: 10px;
}

.save-btn a, .cancel-btn a {
  color: #4781AE;
}

.save-btn:hover, .cancel-btn:hover {
  color: #2761AE;
  background: linear-gradient(to top, #D1D1D1, #F8F8F8);
}

.foto-product {
  position: relative;
  height: 236px;
  width: 236px;
  border: 2px solid #CCCCCC;
  box-shadow: 0 0 8px #CCCCCC;
  border-radius: 5px;
  float: left;
  display: inline-block;
  padding: 0;
  margin: 35px;
}

.register-header p {
  float: left;
  margin-top: 50px;
  margin-left: 40px;
  font-family: OpenSansBold;
  font-size: 25px;
  color: #4781A4;
}

.wrapper-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.head-text-product {
  margin-top: 50px;
  display: inline-block;
  height: 200px;
  width: 300px;
  background: linear-gradient(to top, #F3F3F3, #F9F9F9);
  border-radius: 5px;
  border: 1px solid #CCCCCC;
  position: relative;
}

.head-text-product h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #4781A4;
  font-family: OpenSansBold;
  font-size: 20px;
}

.head-text-product p, .head-text-product span {
  text-align: left;
  margin-left: 30px;
  color: #878787;
  font-family: OpenSansBold;
  font-size: 15px;
}

.head-text-product span {
  display: inline;
  float:left;
  margin-left: 20px;
}

.product-price-product {
  position: absolute;
  background: #DE360F;
  right: -1px;
  bottom: -1px;
  width: 100px;
  height: 40px;
  border-radius: 2px;
}

.product-price-product p {
  color: #FFFFFF;
  font-family: OpenSansBold;
  font-size: 25px;
  text-align: center;
}

.star-five, .star-five-good {
  position: absolute;;
  bottom: 0px;
  left: 50px;
}

.star-five li, .star-five-good li {
  position: relative;
  display: inline;
    font-size: 30px;
}


.star-five span {
  color: #FFCC00;

}

.star-five-good span {
  color: #FF9900;;
}

.main-text {
  color: #878787;
  font-family: OpenSansBold;
  font-size: 15px;
  margin: 60px 30px 30px 30px;
  background: linear-gradient(to top, #F3F3F3, #F9F9F9);
  border-radius: 5px;
  border: 0px solid #CCCCCC;
  position: relative;


}
