@font-face {
  font-family: "OpenSansRegular";
  src: url('../fonts/OpenSansRegular.eot');
  src: local('☺'),
  url("../fonts/OpenSansRegular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/OpenSansRegular.woff") format("woff"),
  url("../fonts/OpenSansRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
font-family: "OpenSansBold";
  src: url("../fonts/OpenSansBold.eot");
  src: local('☺'),
  url("../fonts/OpenSansBold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/OpenSansBold.woff") format("woff"),
  url("../fonts/OpenSansBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
font-family: "HelveticaRegular";
  src: url("../fonts/HelveticaRegular.eot");
  src: local('☺'),
  url("../fonts/HelveticaRegular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/HelveticaRegular.woff") format("woff"),
  url("../fonts/HelveticaRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

label {
  font-size: 17px;
  color: #878787;
  user-select: none;
}

ul {
    list-style-type: none;
}

body {
  background:
  linear-gradient(45deg,rgba(0, 0, 0, 0) 5px,#F7F7F7 5px, #F7F7F7 6px, rgba(0, 0, 0, 0) 6px),
  linear-gradient(-45deg,rgba(0, 0, 0, 0) 6px, #F7F7F7 6px, #F7F7F7 7px, rgba(0, 0, 0, 0) 7px);
  background-size: 8px 8px;
  background-position: left top;
  background-repeat: repeat;
    }

.wrapper-userprof {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #CCCCCC;
  box-shadow: 0 0 8px #CCCCCC;
  width: 600px;
  height: 500px;
  background-color: #FBFBFB;
  font-family: OpenSansBold;
  font-size: 15px;
  border-radius: 5px;
  background: url("../images/bg.png");
  background-size: 5px 5px;
  background-position: left top;
  background-repeat: repeat;
}

.save-btn,  .cancel-btn{
  display: inline-block;
  cursor: pointer;
  width: 100px;
  height: 25px;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  background: linear-gradient(to top, #F3F3F3, #F9F9F9);
  text-align: center;
  padding-top: 5px;
  user-select: none;
  margin: 10px;
}

.save-btn a, .cancel-btn a {
  color: #4781AE;
}

.save-btn:hover, .cancel-btn:hover {
  color: #2761AE;
  background: linear-gradient(to top, #D1D1D1, #F8F8F8);
}

.foto {
  border: 2px solid #CCCCCC;
  box-shadow: 0 0 8px #CCCCCC;
  border-radius: 5px;
  float: left;
  display: inline-block;
  padding: 0;
  margin: 20px;
}

.register-header p {
  float: left;
  margin-top: 50px;
  margin-left: 40px;
  font-family: OpenSansBold;
  font-size: 25px;
  color: #4781A4;
}

.wrapper-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.head-text {
  margin-right: 20px;
  margin-top: 20px;
  display: inline-block;
  height: 230px;
  width: 300px;
  background: linear-gradient(to top, #F3F3F3, #F9F9F9);
  border-radius: 5px;
  border: 1px solid #CCCCCC;
}

.head-text h1{
  text-align: center;
  margin-top: 20px;
  color: #4781A4;
  font-family: OpenSansBold;
  font-size: 25px;
}

.head-text p{
  text-align: left;
  margin-left: 20px;
  color: #878787;
  font-family: OpenSansBold;
  font-size: 20px;
}


.main-horizontal-line {
  background: #E0E3E4;
  position: absolute;
  height: 1px;
  top: 280px;
  right: 23px;
  left: 23px;
}


.arrow-left {
  user-select: none;
  cursor: pointer;
  opacity: 0.5;
  position: relative;
  top: 50px;
  margin: 5px 0 5px 50px;
  height: 20px;
  width: 220px;
  background: #9E1F63;
  border-radius: 30px;
  border: 5px solid #FFFFFF;
  box-shadow: 0px 0px 10px 5px #DDDDDD;

}

.arrow-left {
  left: -15px;
}

.arrow-left:hover {
  opacity: 1;
}

.arrow-left p {
  display: block;
  position: absolute;
  font-family: OpenSansBold;
  font-weight: bolder;
  font-size: 15px;
  color: #FFFFFF;
  margin: 0px;
  padding: 0px;
  top: -1px;
  left: 8px;

}
